
<div class="alert-placer"></div>

<% if (typeof successUpdate !== 'undefined') { %>

  <script>
    const successAlert = document.createElement('div');
    const msg = () => {
      return `<div class="msg fixed top-20 w-1/2 left-1/4 flex mb-5 items-center justify-center bg-teal-500 text-white text-sm font-bold px-4 py-3" role="alert">
        <p class="text-center"><%= successUpdate %></p>
      </div>`
    };
    successAlert.innerHTML = msg();
    document.querySelector('.alert-placer').append(successAlert);
    setTimeout(()=>{
      document.querySelector('.alert-placer').removeChild(successAlert);
    }, 5000)
  </script>

  <% } %>

<div class="container">
    <h1 class="text-xl font-bold mb-4">Detail Kontak</h1>
    <div class="p-5 mb-5 border-2 rounded-xl">

        <% if (!contact) { %>
        <div class="mb-5">
            <h3 class=" text-slate-500">Kontak tidak di temukan</h3>
        </div>
        <a href="/contact" class="mt-5 py-1.5 px-3 text-white rounded-lg text-sm bg-blue-700 hover:bg-blue-900">Kembali</a>
        <% } else { %>

        <div class="mb-5">
            <h3 class="font-bold"><%= contact.nama %></h3>
            <p><strong>No Hp : </strong><%= contact.noHp %></p>
            <p><strong>Email : </strong><%= contact.email %></p>
        </div>
        <a href="/contact/edit/<%= contact.nama %>" class="mt-5 py-1.5 px-3 text-white rounded-lg text-sm bg-emerald-600 hover:bg-emerald-700 active:bg-emerald-900 active:scale-95">Edit</a>
        
        <form action="/contact?_method=DELETE" method="post" class="inline">
          <input type="hidden" name="nama" value="<%= contact.nama %>">
          <button type="submit" class="mt-5 py-1.5 px-3 text-white rounded-lg text-sm bg-red-600 hover:bg-red-700 active:bg-red-900 active:scale-95" onclick="return confirm(`Apakah anda yakin ingin menghapus kontak <%= contact.nama %>?`)">hapus</button>
        </form>

        <% } %>
    </div>
    <a href="/contact" class="mt-5 py-1.5 px-3 text-white rounded-lg text-sm bg-blue-700 hover:bg-blue-900">Kembali</a>
</div>
